<div class="media-content" (click)="showDetail()">
  <div class="poster">
    <div class="background"></div>
    <img *ngIf="isLoadingPoster !== false" src="assets/imgs/item-not-found.png" />
    <img
      *ngIf="show.images_url.poster"
      [ngStyle]="{ display: isLoadingPoster !== false ? 'none' : '' }"
      (load)="isLoadingPoster = false"
      [src]="show.images_url.poster"
    />

    <ion-badge
      color="primary"
      class="total-episodes-to-watch"
      *ngIf="show.totalEpisodesWatched > 0 && show.totalEpisodesWatched < show.airedEpisodes"
    >
      {{ show.airedEpisodes - show.totalEpisodesWatched }}
    </ion-badge>

    <ion-text class="certification">{{ show.certification ? show.certification : 'NR' }}</ion-text>

    <ion-text class="rating">
      <ion-icon color="warning" name="star"></ion-icon>
      {{ show.rating | number: '1.0-1' }}
    </ion-text>

    <ion-text class="title">
      <ion-text> {{ show.title }} </ion-text>
    </ion-text>
  </div>
</div>
