<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>499380921015-7kqvgtuuch9u3s7o8qnnrkr8c9nmoguj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499380921015-7kqvgtuuch9u3s7o8qnnrkr8c9nmoguj</string>
	<key>API_KEY</key>
	<string>AIzaSyDaNZc9T6WBUNaN4Ypu46udbVf--NXPPG0</string>
	<key>GCM_SENDER_ID</key>
	<string>499380921015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.wako</string>
	<key>PROJECT_ID</key>
	<string>wako-c6f03</string>
	<key>STORAGE_BUCKET</key>
	<string>wako-c6f03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499380921015:ios:7456e1bfa9569aa8</string>
	<key>DATABASE_URL</key>
	<string>https://wako-c6f03.firebaseio.com</string>
</dict>
</plist>