<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-menu-button color="light"></ion-menu-button> </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="showsNotificationSettings">
    <ion-card-header> <ion-card-title>Notifications</ion-card-title> </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item color="darkLight">
          <ion-label text-wrap>Enable TV Shows notifications</ion-label>
          <ion-toggle
            [(ngModel)]="showsNotificationSettings.enabled"
            (ngModelChange)="showsNotificationChanged()"
          ></ion-toggle>
        </ion-item>
        <ion-item color="darkLight" *ngIf="showsNotificationSettings.enabled">
          <ion-label text-wrap>Get only notified if I've watched all aired episodes</ion-label>
          <ion-toggle
            [(ngModel)]="showsNotificationSettings.enableOnlyIfUptToDate"
            (ngModelChange)="showsNotificationChanged()"
          ></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item color="darkLight">
          <ion-label text-wrap>Debug mode</ion-label>
          <ion-toggle [(ngModel)]="debugMode" (ngModelChange)="setDebugMode()"></ion-toggle>
        </ion-item>
        <ion-item color="darkLight" *ngIf="debugMode">
          <ion-button (click)="simulateError()">Simulate error</ion-button>
        </ion-item>
        <!--<ion-item color="darkLight" *ngIf="debugMode">-->
        <!--<ion-button (click)="simulateLog()">Simulate log</ion-button>-->
        <!--</ion-item>-->
        <ion-item color="darkLight"> <ion-button (click)="clearCache()">Clear APP Cache</ion-button> </ion-item>
        <ion-item color="darkLight"> <ion-button color="secondary" (click)="logout()">Logout</ion-button> </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<wk-kodi-remote-toolbar></wk-kodi-remote-toolbar>
