<ion-app>
  <ion-split-pane>
    <ion-menu
      [disabled]="(appService.isAuthenticated$ | async) === false"
      [swipeGesture]="appService.isAuthenticated$ | async"
      #menu
    >
      <ion-header>
        <ion-toolbar routerLink="/" (click)="menu.close()" color="darkLight" text-center
          ><img src="assets/imgs/icon.png" alt="" />
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none" *ngFor="let menuPage of menuPages">
          <ion-list-header>
            <ion-icon [name]="menuPage.icon" [color]="menuPage.color"></ion-icon>
            <ion-label [color]="menuPage.color">{{ menuPage.title }}</ion-label>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of menuPage.pages">
            <ion-item detail="false" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [ngClass]="menuPage.color" [name]="p.icon"></ion-icon>
              <ion-label> {{ p.title }} </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list lines="none">
          <ion-item text-center>
            <ion-label>v{{ appService.appVersion$ | async }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

    <ion-fab class="debug" horizontal="start" vertical="bottom" slot="fixed" *ngIf="(appService.debugMode$ | async)">
      <ion-fab-button size="small" color="primary" (click)="displayLogs()">
        <ion-icon name="bug"></ion-icon>
      </ion-fab-button>
      <ion-badge color="danger">{{ appService.errorsList.length }}</ion-badge>
    </ion-fab>
  </ion-split-pane>
</ion-app>
