<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" (click)="clickOpenMenu($event)"></ion-menu-button>
    </ion-buttons>
    <ion-title>wako</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Hi {{ username }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Total movies watched: {{ stats?.movies.watched }}</p>
      <p>Total episodes watched: {{ stats?.episodes.watched }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<wk-kodi-remote-toolbar></wk-kodi-remote-toolbar>
